#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 13px;
}

.btn--default {
  background: white;
  color: #6e6e6e;
  border: 1px solid #ddd;
}

.btn--text {
  background: transparent;
  color: black;
  transition: none;
}

.btn--active {
  background: black !important;
  color: white;
}

.btn--text:hover {
  background: #f2f2f2;
  border-color: #f2f2f2;
}

.btn--highlighted {
  background: #f2f2f2;
}
