:root {
  --font-size-default: 14px;
  --font-size-small: 12px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 10px;
}

.grid__week {
  margin-bottom: 8px;
  color: #a5a5a5;
  height: 40px;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-default);
}

.grid__week--small {
  font-size: var(--font-size-small);
}
